.button {
  background: var(--background, none);
  color: var(--color, currentColor);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 0;
  height: 2em;
  padding: 0 .6em;
  font: var(--font-ui);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: var(--animation-duration);
  box-sizing: border-box;
  vertical-align: middle;
  flex: 0 0 auto;
  text-decoration: none;

  &::-moz-focus-inner {
    border: 0;
  }

  &.is-small {
    font: var(--font-small);
  }

  &.is-primary {
    --color: var(--color-background);
    --color-hover: var(--color-background);
    --background: var(--color-primary);
    --background-hover: var(--color-primary-highlight);
  }

  &.is-secondary {
    --color: var(--color-dim);
    --color-hover: var(--color-text);
    --color-active: var(--color-base);
    --background: var(--color-highlight);
    --background-hover: var(--color-line);
    --background-active: var(--color-line);
  }

  &:hover {
    color: var(--color-hover, currentColor);
    background: var(--background-hover, none);
  }
  &:disabled {
    cursor: default;
    background: none;
    opacity: .1;
  }
}
