.body {
  font: var(--font-body);
  letter-spacing: var(--font-body-spacing);
  color: var(--color-text);

  & > :first-child {
    margin-top: 0;
  }

  & h2, & h3, & h4, & h5, & h6 {
    color: var(--color-base);
    margin: 1.5em 0 .5em 0;
  }

  & h1 {
    font: var(--font-display);
    letter-spacing: var(--font-display-spacing);
    border-bottom: solid 1px var(--color-line);
    padding-bottom: .1em;
  }

  & h2 {
    font: var(--font-title);
    letter-spacing: var(--font-title-spacing);
    border-bottom: solid 1px var(--color-line);
    padding-bottom: .2em;
  }

  & img {
    max-width: 100%;
  }

  /** Toc */
  & .header-anchor {
    color: inherit;
    text-decoration: none;
  }
}
