.footnotes {
  font: var(--font-small);
  color: var(--color-dim);
  margin-top: 5em;

  & > dl {
    margin: 0;

    & > div {
      padding: .5em;

      &:target {
        outline: 1px dashed var(--color-primary);
      }

      & + div {
        margin-top: .5em;
      }
    }
  }

  & dt {
    float: left;
    margin-right: 1em;
    font-weight: bold;
    
    & a {
      text-decoration: none;
      color: var(--color-base);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  & dd {
    margin: 0;
    padding-left: 2em;

    & p {
      margin: 0.25em 0;
    }

    & > :first-child {
      margin-top: 0;
    }
    & > :last-child {
      margin-bottom: 0;
    }
  }
}
