.pagination {
  & ul {
    list-style: none;
    padding: 0;
    display: flex;
    column-gap: 2rem;
    justify-content: space-between;
  }

  & a {
    display: block;
    text-decoration: none;
    color: var(--color-dim);

    &:hover strong {
      text-decoration: underline;
    }
  }

  & strong {
    color: var(--color-base);
    display: block;
  }
}

.pagination-prev {
  text-align: left;
}

.pagination-next {
  text-align: right;
  margin-left: auto;
}

@media only screen and (max-width: 576px){
  .pagination {
    & strong {
      display: none;
    }
  }
}
