html {
  scroll-padding-top: 120px;
  scroll-behavior: smooth;
}

html,
body {
  font: var(--font-ui);
  color: var(--color-base);
  background-color: var(--color-background);
  overflow-wrap: break-word;
}

main {
  & > :first-child {
    margin-top: 0;
  }
}

a {
  color: var(--color-link);

  &:hover {
    text-decoration: none;
    color: var(--color-link-hover);
  }
}

table {
  margin: 1em 0;

  & td,
  & th {
    padding-right: 1em;
  }
}

pre,
code {
  font: var(--font-code);
  letter-spacing: 0;
  font-variant-ligatures: none;
}

:not(pre) > code {
  background: var(--color-line);
  padding: 0 .2rem;
  border-radius: 4px;
}


:focus {
  z-index: 1;
}
:focus-visible {
  outline-color: var(--color-line);
}

hr {
  color: var(--color-line);
  margin: var(--row-gap-medium) 0;
}

strong, b {
  font-weight: var(--font-bold);
}