html {
  scroll-padding-top: 120px;
  scroll-behavior: smooth;
  text-rendering: auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  font: var(--font-ui);
  color: var(--color-base);
  background-color: var(--color-background);
  overflow-wrap: break-word;
}

main {
  & > :first-child {
    margin-top: 0;
  }
}

a {
  color: var(--color-link);

  &:hover {
    text-decoration: none;
    color: var(--color-link-hover);
  }
}

table {
  margin: 1em 0;

  & td,
  & th {
    padding-right: 1em;
  }
}

pre,
code {
  font: var(--font-code);
  letter-spacing: 0;
  font-variant-ligatures: none;
}

:not(pre) > code {
  background: var(--color-highlight);
  padding: 0 0.2rem;
  border-radius: 4px;
  font-size: 0.95em;
  letter-spacing: inherit;
  color: var(--color-text);
}

:focus {
  z-index: 1;
}

:focus-visible {
  outline-width: 1px;
  outline-offset: 2px;
  outline-style: solid;
  outline-color: var(--color-line);
}

hr {
  color: var(--color-line);
  margin: var(--row-gap-medium) 0;
  border: none;
  border-top: solid 1px;
  background: none;
}

h1, h2, h3, h4, h5, h6, strong, b {
  font-weight: var(--font-bold);
  color: var(--color-text);
}
